# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List popular Data Science Tools
- Create a Jupyter Notebook with Markdown and Code cells

Some of the popular languages that Data Scientists use are:
- Python
- R
- SQL
- Julia
- Scala
- Java
- SAS

| Data Science Tools         |
|----------------------------|
| Jupyter Notebook           |
| RStudio                    |
| Visual Studio Code (VS Code) |

### Below are a few examples of evaluating arithmetic expressions in Python.

- Addition: 5 + 3
- Subtraction: 10 - 4
- Multiplication: 7 * 2
- Division: 20 / 5
- Exponentiation: 2 ** 3

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes / 60
print(hours)

3.3333333333333335

## Author
Juan Barca